<div fxLayout="column" fxFlexFill>
    <div class="header_title" fxLayout="row">
        <h1 mat-dialog-title>Title</h1>
    </div>
    <div class="add_button" fxLayoutAlign="end start">
        <button [disabled]="isLabelActive || isEditActive" mat-button (click)="newLabel()">Add</button>
    </div>
    <div fxLayout="column" fxFlex="100">
        <ng-container *ngFor="let label of labels; let lastLabel=last; let index=index;">
            <app-labels-dialog-item [label]="label" [isLabelActive]="isLabelActive" [lastLabel]="lastLabel"
                [index]="index" [isEditActive]="isEditActive" (addLabel)="addLabel($event)"
                (isEditOutputProperty)="isEditOutputProperty($event)" (removeLabel)="removeLabel($event)">
            </app-labels-dialog-item>
        </ng-container>
    </div>
    <div fxLayoutAlign="end start">
        <div mat-dialog-actions>
            <button mat-button (click)="close()">Cancel</button>
            <button mat-button [disabled]="isLabelActive || isEditActive" color="primary"
                (click)="saveAllLabels()">Ok</button>
        </div>
    </div>
</div>