<div>
    <form>
        <div *ngIf="(isLabelActive && last) || isEditActive">
            <mat-form-field appearance="standard">
                <input matInput [formControl]="name" #lableItem />
                <mat-error *ngIf="isError">
                    Label is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button mat-button class="check_circle_button" (click)="saveLabel(lableItem.value, index)" aria-label="">
                <mat-icon>check_circle</mat-icon>&nbsp;
            </button>
            <button class="cancel_button" (click)="cancelLabel(index)" matSuffix mat-icon-button aria-label="">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <mat-checkbox *ngIf="!isLabelActive || !last" [disabled]="label.isEdit" class="checkbox_hover"
            color="primary" [checked]="label.selected">{{ label.name }}

            <span class="edit_delete">
                <button [disabled]="label.isEdit" class="mode_edit_button" matSuffix mat-icon-button aria-label=""
                    (click)="editLabel(label.name, index)">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </button>
                <button [disabled]="label.isEdit" class="delete_button" matSuffix mat-icon-button aria-label="" (click)="deleteLabel(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </span>
        </mat-checkbox>
    </form>
</div>